body, html {height: 100%}
.bgimg {
  background-image: url('https://cdn.mos.cms.futurecdn.net/rdKdiMcovPGxiBLu7gtbvn.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}