<!-- Uses base.html as Template-->

{% extends "base.html" %}

<!-- Add's page title -->

{% block title %}The Flying Birds{% endblock %}

{% block head %}

<!-- Head Content-->
    <!-- Add CSS for the Welcome Cover-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/frontpage.css') }}">

{% endblock %}
<!-- Body content-->

{% block body %}

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
    <!-- <div class="w3-display-topleft w3-padding-large w3-xlarge">
      Logo
    </div> -->
    <div class="w3-display-middle">
      <h1 class="w3-jumbo w3-animate-top">The Flying Birds</h1>
      <hr class="w3-border-grey" style="margin:auto;width:40%">
      <p class="w3-large w3-center">Lige nu er der {{playerCount}} spillere online!</p>
    </div>
    <!-- <div class="w3-display-bottomleft w3-padding-large">
      Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a>
    </div> -->
</div>

<div class="about-section">
    <h1>About Us Page</h1>
    <p>Some text about who we are and what we do.</p>
    <p>Resize the browser window to see that this page is responsive by the way.</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="/w3images/team1.jpg" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Jane Doe</h2>
          <p class="title">CEO & Founder</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>jane@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/w3images/team2.jpg" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Mike Ross</h2>
          <p class="title">Art Director</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>mike@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/w3images/team3.jpg" alt="John" style="width:100%">
        <div class="container">
          <h2>John Doe</h2>
          <p class="title">Designer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>john@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}