<!-- Uses base.html as Template-->

{% extends "base.html" %}

<!-- Add's page title -->

{% block title %}The Flying Birds{% endblock %}

{% block head %}

<!-- Head Content-->
    <!-- Add CSS for the Welcome Cover-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/frontpage.css') }}">

{% endblock %}
<!-- Body content-->

{% block body %}

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
    <!-- <div class="w3-display-topleft w3-padding-large w3-xlarge">
      Logo
    </div> -->
    <div class="w3-display-middle">
      <h1 class="w3-jumbo w3-animate-top">The Flying Birds</h1>
      <hr class="w3-border-grey" style="margin:auto;width:40%">
      <p class="w3-large w3-center">Lige nu er der {{playerCount}} spillere online!</p>
    </div>
    <!-- <div class="w3-display-bottomleft w3-padding-large">
      Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a>
    </div> -->
</div>

<section>
    <h1>Lidt omkring os</h1>
</section>

{% endblock %}